
<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col text-center>
      <h2>{{recipe.title}}</h2>
      <div class="subtitle">{{recipe.difficulty}}</div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col text-center>
        <p>{{recipe.description}}</p>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.ingredients.length > 0">
      <ion-col>
        <button ion-button clear (click)="onAddIngredients()">
          Add Ingredients to shopping List
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline block (click)="onEditRecipe()">Edit Recipe</button>
      </ion-col>
      <ion-col>
          <button ion-button outline block (click)="onDeleteRecipe()" color="danger">Delete Recipe</button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
